img {
  max-width: 95vw;
  max-height: 95vh;
  border-radius: 1em;
  cursor: default;
}

#parent {
  position: fixed;
  top: 0;
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #333, $alpha: .75);
}

#parent>div {
  margin: auto;
  position: relative;
}

.material-icons {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5em;
  margin: .25em;
  color: #ddd;
  transition: color .25s ;
}

.material-icons:hover {
  color: var(--dark);
}